<form>
    <label
        class="form-label"
        for="nudIdentificador">
        identificador
    </label>
    <input
        id="nudIdentificador"
        class="form-control"
        name="identificador"
        type="number"
        disabled>
    <label
        class="form-label"
        for="txtMarca">
        marca
    </label>
    <input
        id="txtMarca"
        class="form-control"
        name="marca"
        type="text">
    <label
        class="form-label"
        for="txtModelo">
        modelo
    </label>
    <input
        id="txtModelo"
        class="form-control"
        name="modelo"
        type="text">
    <label
        class="form-label"
        for="nudRuedas">
        Ruedas
    </label>
    <input
        id="nudRuedas"
        class="form-control"
        name="ruedas"
        type="number"
        min="0">
    <label
        class="form-label"
        for="nudNroChasis">
        Nro. Chasis
    </label>
    <input
        id="nudNroChasis"
        class="form-control"
        name="nroChasis"
        type="number"
        min="0">
    <label
        class="form-label"
        for="nudKilometros">
        Kilometros recorridos
    </label>
    <input
        id="nudKilometros"
        class="form-control"
        name="kilometrosRecorridos"
        type="number"
        min="0">

    <button
        class="btn btn-primary"
        type="submit">
        Crear
    </button>
    <button
        class="btn btn-primary"
        type="reset">
        Limpiar
    </button>
</form>
